<script type="text/javascript">
    /* Variables de Configuración: Es necesario editarlas antes de pegarlas en la página */
    var disqus_shortname = '{{ site.disqus_shortname }}'; //Esta variable es requerida

    /* Se pide no editar la siguiente función */
    (function(){
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        document.getElementById('disqus_thread').appendChild(dsq);
    })();

    /* Se pide no editar la siguiente función */
    (function (){
        var s = document.createElement('script');
        s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        document.getElementById('disqus_thread').appendChild(s);
    }());
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>